<%= label(object_name, method, options.merge({
  class: "daisy-forms-label label",
  :"data-controller" => "daisy--forms--label--component"
})) do %>
  <span class="label-text<%= alt %>">
    <%= content %>
  </span>
<% end %>
